.onLoad <- function(lib, pkg) require(methods)

useDynLib(simecol, .registration = TRUE)

importFrom(graphics, plot)
# import(odesolve) # uncommented when odesolve eventually has NAMESPACE

exportClasses(simObj, odeModel, gridModel, rwalkModel)

exportMethods(sim, parms, "parms<-", init, "init<-", times, "times<-")
exportMethods(inputs, "inputs<-", main, "main<-", equations, "equations<-")
exportMethods(solver, "solver<-", out)

exportMethods(plot, print)
exportMethods(fixInit, fixParms, fixTimes)

export(neighbours, neighbors, eightneighbours, eightneighbors, seedfill)
export(approxTime, approxTime1)
export(rk4, iteration)
export(addtoenv, sEdit, peaks)

## not necessary because example models are stored as *data*
# export(lv, lv3, conway, diffusion, upca) 

## generating functions
export(odeModel, gridModel, rwalkModel)


